useDynLib(RHmm, .registration = TRUE)
export(distributionSet)
export(HMMSet)
export(HMMSim)
export(HMMFit)
export(forwardBackward)
export(forwardbackward)
export(viterbi)
export(HMMGraphicDiag)
export(HMMPlotSerie)
export(asymptoticCov)
export(asymptoticIterSimCovMat)
export(computeScoreAndInformation)
export(setAsymptoticCovMat)
S3method(print, univariateNormalClass)
S3method(print, multivariateNormalClass)
S3method(print, mixtureUnivariateNormalClass)
S3method(print, mixtureMultivariateNormalClass)
S3method(print, discreteClass)
S3method(print, distributionClass)
S3method(print,HMMClass)
S3method(print,HMMFitClass)
S3method(print,HMMFitClass)
S3method(summary,HMMFitClass)
S3method(print, summary.HMMFitClass)